h1{
  margin: 0;
  padding: 10px;
}

.App {
  height: 150px;
  background-color: #8acdea;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.location{
  text-align: center;
}

#connect{
  border: 1px solid black;
  list-style-type: none;
  width: 80%;
  float: right;
  text-align: left;
  margin-top: 20px;
}

#connect div{
  display: flex;
  justify-content: center;
}

#connect h2{
  text-align: center;
}

#connect img{
  float: left;
}

#connect p{
  width: 70%;
  float: right;
  margin-right: 10px;
}

#connect button{
  float: right;
  margin-right: 10px;
}

#profil{
  float: right;
}

#city, #search{
  margin-top: 10px;
}

#list-category{
  margin-top: 100px;
}
